*{ 
margin: 0; /*  {   }  */
}

html{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEKckUZbvyok4ikV9_GfxwGod7X_f1hokfnw&usqp=CAU");
    color: aliceblue;
    
}

.barra{
    width: 500px;
    margin: auto; /*centrado*/
    font-family: Arial, Helvetica, sans-serif;

}

ul{
list-style: none;

}

.menu > li{
float: left;
}

.menu li a{
    background-color: rgba(128, 255, 0, 0.377);
    color: aliceblue;
    text-decoration: none;
    padding:10px 12px ;
    display: block;
}

.menu li a:hover{
background-color: rgba(0, 0, 0, 0.363);
}

.menu li ul{ /*para crear listas del menu dentro del menu*/
    display: none;
    position: absolute;
    min-width: 150px ; /*para el ancho del menu de abajo*/
}
.menu li:hover > ul {
display: block;
}
.menu li ul li{
    position: relative;
}
.fotos{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(243, 243, 243, 0.767);
}
.subfotos { /* Para crear Galerias de fotos y su orden simplemento señalando las etiquetas*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    align-items: center;
    justify-content: center;

}
.subfotos2{   /*se paracion de la galeria dee fotos*/
    padding: 0 200px 200px;
}
img:hover{  /*para la opacidad de las imagenes*/
opacity: 0.5;  
transition: 1s; /*para la transicion de las imagenes*/
}

footer{
    margin-top: 600px;
    color: rgb(248, 248, 248);

}
footer img{
    width: 20px;
    
    
}