*{
    margin: 0;
}
    body>*{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

html{
    background: url("https://img.besthqwallpapers.com/Uploads/3-11-2017/26955/4k-eiffel-tower-sunset-europe-paris.jpg");
    box-shadow:-1px 1px 7px 0px rgba(70, 6, 78, 0.75);
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%; 
    
}

.menu{
    background-color: rgba(199, 137, 214, 0.486);
    box-shadow:-1px 1px 7px 0px rgba(70, 6, 78, 0.75);
    text-align: center;
}

.menu li{
    display: inline-block;
    width: 555px;
}
.menu a{
    color: rgb(228, 202, 168);
    text-decoration: none;
    padding: 30px;
    display: block;

}

.menu a:hover{
    background-color: rgba(93, 10, 114, 0.281);
    font-size: large;
    width: 558px;
}

.menu2 li ul{ 
    display: none;
    position: absolute;
    width: 18px;
}
.menu2 li:hover > ul {
display: block;
}
.menu2 li ul li{
    position: relative;
}

.inicio{
    background:url("https://s1.eestatic.com/2022/03/09/curiosidades/paises/655944915_222561737_600x315.jpg");
    text-align: center;
    overflow:hidden;
    padding: 20px;
    color:rgb(7, 2, 2)
}

h1{
    color: rgba(23, 10, 206, 0.747);
    text-align: center;
}

.parrafo{
    height: 100px;
    color: aliceblue;
    font-size: 20px;
    margin: 0 500px;
    text-align: justify;
    display: inline-block;
    
}
.imagen img{
}
    .imagen img{
        width: 500px;
        display: block; 
        float: left;
        box-shadow: 5px 5px 0 rgba(99, 7, 136, 0.5);
        border: 3px solid rgba(113, 9, 139, 0.507);
        margin-top:  100px;
        margin-left: 100px
}
table{
    color: rgb(247, 247, 247);
    margin-right: 50px;
    width: 5% ;
    border-spacing: 5px;
    float: right
}

tr,td{
    
    border: 1px solid rgb(199, 137, 214);
    text-align: center;
    
}

caption{
    background:url("https://s1.eestatic.com/2022/03/09/curiosidades/paises/655944915_222561737_600x315.jpg");

    font-size: 24px;
    color: #070707;
    border: 2px solid rgb(199, 137, 214);

}
.encabezado{
background-color: solid rgb(199, 137, 214);
color: black;
font-size: 30px;
}
footer{
color: azure;
margin: 600px;
display: inline;


}
footer img{
    width: 40px;
    display: flex;
    
    
}